---
import App from "../layouts/app.astro";
import Container from "../components/ui/Container.astro";
import Slider from "../components/Slider.astro";
import LowSection from "../components/LowSection.astro";
import Hero from "../components/Hero.astro";
import Main from "../components/Main.astro";
---

<App>
  <div class="bg-image">
    <Container>
      <Hero />
      <Main />
    </Container>
  </div>
  <Slider />
  <LowSection />
</App>

<style>
  .bg-image {
    background-image: url("../../assets/images/bg-simplify-section-desktop.svg");
    background-repeat: no-repeat;
    background-size: 10 rem;
  }
</style>
