---
import Button from "./ui/Button.astro";
import Container from "./ui/Container.astro";
---

<Container>
  <header class="flex justify-between items-center min-h-[150px]">
    <div>
      <img src="../../assets/images/logo.svg" alt="logo" />
    </div>

    <nav>
      <ul class="flex space-x-6">
        <li>
          <a
            href="#"
            class="capitalize text-slate-800 hover:opacity-50 transition duration-150 ease-in"
            >pricing</a
          >
        </li>
        <li>
          <a
            href="#"
            class="capitalize text-slate-800 hover:opacity-50 transition duration-150 ease-in"
            >products</a
          >
        </li>
        <li>
          <a
            href="#"
            class="capitalize text-slate-800 hover:opacity-50 transition duration-150 ease-in"
            >about us</a
          >
        </li>
        <li>
          <a
            href="#"
            class="capitalize text-slate-800 hover:opacity-50 transition duration-150 ease-in"
            >careers</a
          >
        </li>
        <li>
          <a
            href="#"
            class="capitalize text-slate-800 hover:opacity-50 transition duration-150 ease-in"
            >community</a
          >
        </li>
      </ul>
    </nav>

    <div>
      <Button label="get started" />
    </div>
  </header>
</Container>
