---
import Button from "./ui/Button.astro";
import Container from "./ui/Container.astro";
---

<Container>
  <header class="flex justify-between">
    <div>
      <img src="../../assets/images/logo.svg" alt="logo" />
    </div>

    <nav>
      <ul class="flex space-x-3">
        <li><a href="#" class="capitalize">pricing</a></li>
        <li><a href="#" class="capitalize">products</a></li>
        <li><a href="#" class="capitalize">about us</a></li>
        <li><a href="#" class="capitalize">careers</a></li>
        <li><a href="#" class="capitalize">community</a></li>
      </ul>
    </nav>

    <div>
      <Button label="get started" />
    </div>
  </header>
</Container>
