---
import Button from "./ui/Button.astro";
---

<div class="flex py-11">
  <section class="flex flex-col justify-center space-y-9 w-1/2">
    <h1 class="text-5xl font-bold">
      Bring everyone <br /> together to build <br /> better products.
    </h1>
    <p class="text-slate-500">
      Manage makes it simple for software teams <br /> to plan day-to-day tasks while
      keeping the <br /> larger team goals in view.
    </p>
    <div>
      <Button label="Get Started" />
    </div>
  </section>
  <section class="w-1/2 flex justify-end">
    <img src="../../assets/images/illustration-intro.svg" alt="" />
  </section>
</div>
