---
interface Props {
  label: string;
  bg_class: string;
  text_color: string;
}

const { label, bg_class, text_color } = Astro.props;
---

<button class=`${bg_class} px-7 py-3 rounded-full shadow-bottom`>
  <a href="#" class=`font-bold ${text_color} capitalize`>{label}</a>
</button>

<style>
  .shadow-bottom {
    box-shadow:
      0 4px 6px -1px rgba(255, 72, 0, 0.5),
      0 2px 4px -1px rgba(255, 30, 0, 0.5);
  }
</style>
