---
import { Image } from "astro:assets";
interface Props {
  name: string;
  quote: string;
  svg: string;
}

const { name, quote, svg } = Astro.props;
---

<div class="flex flex-col items-center space-y-5">
  <div class="m-neg">
    <Image src={svg} alt=`${name}` width={70} height={70} />
  </div>
  <p class="font-bold">{name}</p>
  <p class="text-gray-600">{quote}</p>
</div>

<style>
  .m-neg {
    margin-top: -35px;
  }
</style>
